# Dependencies
node_modules
.npm
.yarn-integrity

# Environment
.env
.env.local
.env.production

# Build
dist
build
out

# Angular
.angular
.cache

# IDE
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
