MONGODB_URI=mongodb+srv://taaqib04_db_user:admin123@cluster0.6q5kqlg.mongodb.net/ltts?retryWrites=true&w=majority
JWT_SECRET=ltts-test-management-secret-2026-ultra-secure-key-12345
CLIENT_URL=https://test-management-frontend-3.onrender.com
PORT=5000
NODE_ENV=production
